.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.flag-img{
	width:200px;
	padding:10px;
}
body{
	background-color: black;
}